[Unit]
Description= Zenigma Script Service
After=network.target

[Service]
ExecStart=!/bin/bash /root/zenigma.sh
StandardOutput=append:/var/log/zenigma.log
StandardError=append:/var/log/zenigma.log

[Install]
WantedBy=multi-user.target
